<header>
    <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">        
        <app-big-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardTitle="Titulo do Card"
        cardDescription="Descrição do card"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card  
        cardTitle="Titulo do Card"
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardDescription="Descrição Do Card"
        ></app-small-card>
        <app-small-card  
        cardTitle="Titulo do Card"
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardDescription="Descrição Do Card"
        ></app-small-card>
        <app-small-card  
        cardTitle="Titulo do Card"
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardDescription="Descrição Do Card"
        ></app-small-card>
    </div>
</div>
